section {
    margin-bottom: 30px;
}

h5 {
    margin-bottom: 10px;
}

.nav-link {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: hand;
    cursor: pointer;
}

.tab-link {
    color:red;
}

.nav-tabs a.nav-link:hover {
    color: red;
}

.nav-tabs .nav-link.active {
    background-color: whitesmoke;
}

.nav-tabs .nav-link.active:hover {
    color: red;
    background-color: whitesmoke;
}

.my-tab-header {
    background-color: lightblue;
}

.nav-tabs a.my-active-tab-header.active, .nav-tabs a.my-active-tab-header.active:hover {
    background-color: cornflowerblue;
}

.tab-content-default {
    height: 50px;
    background-color: whitesmoke;
}

.my-tab-content {
    height: 50px;
    background-color: green;
}

.tab-container-with-border {
    border: 1px dashed navy;
    height:30px;
}

.tab-container-with-green-border {
    border: 2px solid green;
}

.tab-header-bold {
    font-weight: bold;
}

.nav-tabs a.tab-header-blue.active {
    color: blue;
}

.tab-content-yellow {
    background-color: lightgoldenrodyellow;
}

.tab-content-green {
    color: green;
}